RewriteEngine On
RewriteRule oauth2callback examples/oauth2callback.php [L]
RewriteRule auth examples/auth.php [L]
RewriteRule index examples/index.php [L]
RewriteRule profile examples/profile.php [L]
RewriteRule history examples/history.php [L]
RewriteRule list_drafts examples/list_drafts.php [L]
RewriteRule get_draft examples/get_draft.php [L]
RewriteRule list_messages examples/list_messages.php [L]
RewriteRule get_message examples/get_message.php [L]
RewriteRule list_labels examples/list_labels.php [L]
